<ul class="list-group list-group-horizontal">
    <li class="list-group-item"> <a href= "https://www.instagram.com/clanlop" target="_blank"><i class="fa-brands fa-instagram fa-2xl"></i></a>
    </li>
    <li class="list-group-item">  <a href="https://www.linkedin.com/feed/" target="_blank"><i class="fa-brands fa-linkedin fa-2xl"></i></a>
    </li>
    <li class="list-group-item"> <a href="https://www.facebook.com/clanlop" target="_blank"><i class="fa-brands fa-facebook fa-2xl"></i></a>
    </li>
    <li class="list-group-item"> <a href="https://github.com/clanlop" target="_blank"><i class="fa-brands fa-github fa-2xl"></i></a>
    </li>
     <!-- Button trigger modal -->
    <li class="list-group-item">
      <i class="fa-solid fa-user-lock fa-2xl"type="button"data-bs-toggle="modal"data-bs-target="#exampleModal">
       </i>
      </li>
    </ul>
