<!--Modal educacion-->
<div class="modal fade" id="educacionModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
    <div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title" id="exampleModal">Educacion</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
    <div class="mb-3 row">
      <label for="Nivel" class="form-label">Nivel Educativo</label>
      <input type="text" class="form-control-form-control-mb" id="Nivel">
    </div>
    <div class="mb-3 row">
      <label for="institucion" class="form-label">Institucion</label>
          <input type="text" class="form-control-form-control-mb" id="institucion">
    </div>
    <div class="mb-3 row"> 
          <label for="titulo" class="form-label">Titulo</label>
          <input type="text" class="form-control-form-control-mb" id="titulo">
    </div>
    <div class="mb-3 row">
        <label for="fecha" class="form-label">Fecha de Egreso</label>
        <input type="text" class="form-control-form-control-mb" id="fecha">
    </div>
    <div class="mb-3 row">
        <label for="formfile-sm" class="form-label">Ver Titulo</label>
        <input type="file" class="form-control-form-control-sm" id="formfile-sm">
      </div>
      </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-primary">Guardar</button>
  </div>
  </div>
  </div>
  </div>
