


<!--Modal Banner-->
<div class="modal fade" id="bannerModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
    <div class="modal-content">
    <div class="modal-header">
            <h5 class="modal-title" id="exampleModal">Banner</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
    <div class="modal-body">
    <div class="mb-3 row">
      <input type="file" class="form-control-form-control-sm" id="formfile-sm">
      </div>
      </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-primary">Guardar</button>
    </div>
  </div>
  </div>
  </div>
