<footer id="footer"class="footer">
    <div class="container-fluid">
    <div class="row bg-black text-white">
    <div class="col-xs-12 col-md-4 col-lg-4 ">
    <img src="assets/Logos/APLogo-20-20.png"alt="" width="40%">
    </div>
    <div class="col-xs-12 col-md-4 col-lg-4 pt-4">
     <h5 class="mb-4"><strong>Mapa del Sitio</strong></h5>
     <ul class="list-unstyled ">
      <li class="mb-2"><a href="/" class="text-reset text-decoration-none">Inicio</a></li>
      <li class="mb-2"><a href=""class="text-reset text-decoration-none ">Sobre Mi</a></li>
      <li class="mb-2"><a href="#educacion"class="text-reset text-decoration-none">Educacion</a></li>
      <li class="mb-2"><a href="#experiencia"class="text-reset text-decoration-none">Experiencia</a></li>
      <li class="mb-2"><a href="#habilidades"class="text-reset text-decoration-none">Habilidades</a></li>
      <li class="mb-2"><a href="#proyectos"class="text-reset text-decoration-none ">Proyectos</a></li>
      <li><a href="#" class="text-reset text-decoration-none">Redes</a></li>
     </ul>
    </div>
    <div class="col-xs-12 col-md-3 col-lg-4 pt-4">
      <h5 class="mb-4"> <strong>Contacto</strong></h5>
      <ul class="list-unstyled">
      <li class="mb-2"><i class="fa-regular fa-envelope"></i> {{footer.email}}</li>
     
      <li><i class="fa-brands fa-whatsapp"></i> {{footer.wasp}}</li>
      </ul>
    </div>
    <div class="col-xs-12 pt-4 text-center text-secondary">
      <p> Claudia López |©Argentina Programa 2022 Buenos Aires Argentina</p>
    </div>
    </div>
    </div>
</footer>
