<app-navbardeshboard></app-navbardeshboard>
<app-loginout></app-loginout>
<body style="background-image: linear-gradient(to right, #eea2a2 0%, #bbc1bf 19%, #57c6e1 42%, #b49fda 79%, #7ac5d8 100%);">
<!--iconos-->
<section id="deshboard"class="deshboard">
    
    
<app-botonedicion-sobremi></app-botonedicion-sobremi>
<app-sobre-mideshboard></app-sobre-mideshboard>
<app-educacion-deshboard></app-educacion-deshboard>
<app-experiencia-deshboard></app-experiencia-deshboard>
<app-foto-perfildeshboard></app-foto-perfildeshboard>
<app-banner-deshboard></app-banner-deshboard>
<app-proyecto-deshboard></app-proyecto-deshboard>
<app-referencias-deshboard></app-referencias-deshboard>
<app-habilidades-deshboard></app-habilidades-deshboard>
    </section>
</body>