<section class="proyectos">
   <div class="row">
    <div class="col-3 mt-5" id="proyectos">
    <h1> Proyectos</h1>
    </div>
    <div class="col-8 mt-5 ms-5">
    <h5> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Possimus deleniti quaerat vero, laudantium magnam corporis exercitationem sequi. Ad sint, amet culpa, et tempora officia sed nihil, enim voluptatem assumenda voluptatibus?</h5>
    <h5> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Possimus deleniti quaerat vero, laudantium magnam corporis exercitationem sequi. Ad sint, amet culpa, et tempora officia sed nihil, enim voluptatem assumenda voluptatibus?</h5>
    <h5> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Possimus deleniti quaerat vero, laudantium magnam corporis exercitationem sequi. Ad sint, amet culpa, et tempora officia sed nihil, enim voluptatem assumenda voluptatibus?</h5>
    <h5> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Possimus deleniti quaerat vero, laudantium magnam corporis exercitationem sequi. Ad sint, amet culpa, et tempora officia sed nihil, enim voluptatem assumenda voluptatibus?</h5>
    <h5> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Possimus deleniti quaerat vero, laudantium magnam corporis exercitationem sequi. Ad sint, amet culpa, et tempora officia sed nihil, enim voluptatem assumenda voluptatibus?</h5>
  </div>
    </div>
   
  </section>
