 <!--boton edicion sobre mi-->
 <div class="container justify-content-center d-flex">
    <div class="container text-center">
    <div class="row mt-5 g-2 g-lg-3">
    <div class="col">
    <div class="dropend">
      <button class="btn btn-primary btn-lg p-5 dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fa-solid fa-user-pen fa-2x"></i>
      </button>
        <ul class="dropdown-menu">
        <li><a class="dropdown-item" type="button"data-bs-toggle="modal"data-bs-target="#infoModal">Modificar <i class="fa-solid fa-pen"></i> </a></li>
        <li><a class="dropdown-item" type="button"data-bs-toggle="modal"data-bs-target="#infoModal">Agregar <i class="fa-solid fa-floppy-disk"></i></a></li>
        <li><a class="dropdown-item" type="button"data-bs-toggle="modal"data-bs-target="#infoModal">Eliminar  <i class="fa-solid fa-trash"></i></a></li>
      </ul>
    </div>
    </div>
             <!--botn edicion educacion-->
             <div class="col">
                <div class="dropend">
                <button class="btn btn-primary btn-lg p-5 dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fa-solid fa-graduation-cap lock fa-2x"></i>
                </button>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" type="button"data-bs-toggle="modal"data-bs-target="#educacionModal">Modificar <i class="fa-solid fa-pen"></i> </a></li>
                  <li><a class="dropdown-item" type="button"data-bs-toggle="modal"data-bs-target="#educacionModal">Agregar <i class="fa-solid fa-floppy-disk"></i></a></li>
                  <li><a class="dropdown-item" type="button"data-bs-toggle="modal"data-bs-target="#educacionModal">Eliminar  <i class="fa-solid fa-trash"></i></a></li>
                </ul>
              </div>
              </div>
            <!--boton edicion experiencia laboral-->
              <div class="col">
              <div class="dropend">
              <button class="btn btn-primary btn-lg p-5 dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fa-solid fa-briefcase lock fa-2x"></i>
              </button>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" type="button"data-bs-toggle="modal"data-bs-target="#experienciaModal">Modificar  <i class="fa-solid fa-pen"></i> </a></li>
                <li><a class="dropdown-item" type="button"data-bs-toggle="modal"data-bs-target="#experienciaModal">Agregar  <i class="fa-solid fa-floppy-disk"></i></a></li>
                <li><a class="dropdown-item" type="button"data-bs-toggle="modal"data-bs-target="#experienciaModal">Eliminar  <i class="fa-solid fa-trash"></i></a></li>
              </ul>
            </div>
              </div>
              </div>
            
            <div class="container text-center">
            <div class="row mt-5 g-2 g-lg-3">
              <!--boton edicion foto perfil-->
            <div class="col">
              <div class="dropend">
                <button class="btn btn-primary btn-lg p-5 dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fa-solid fa-image-portrait fa-3x"></i>
                </button>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" type="button"data-bs-toggle="modal"data-bs-target="#fotoPerfilModal">Modificar <i class="fa-solid fa-pen"></i> </a></li>
                  <li><a class="dropdown-item" type="button"data-bs-toggle="modal"data-bs-target="#fotoPerfilModal">Eliminar  <i class="fa-solid fa-trash"></i></a></li>
                </ul>
              </div>
            </div>
            <!--boton edicion imagen de banner-->
            <div class="col">
              <div class="dropend">
                <button class="btn btn-primary btn-lg p-5 dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fa-solid fa-image fa-3x"></i>
                </button>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" type="button"data-bs-toggle="modal"data-bs-target="#bannerModal">Modificar <i class="fa-solid fa-pen"></i> </a></li>
                  <li><a class="dropdown-item" type="button"data-bs-toggle="modal"data-bs-target="#bannerModal">Eliminar  <i class="fa-solid fa-trash"></i></a></li>
                </ul>
              </div>
            </div>
            <!--boton edicion proyectos-->
            <div class="col">
              <div class="dropend">
                <button class="btn btn-primary btn-lg p-5 dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fa-solid fa-folder fa-2x"></i>
                </button>
                  <ul class="dropdown-menu">
                  <li><a class="dropdown-item" type="button"data-bs-toggle="modal"data-bs-target="#proyectosModal">Modificar <i class="fa-solid fa-pen"></i> </a></li>
                  <li><a class="dropdown-item" type="button"data-bs-toggle="modal"data-bs-target="#proyectosModal">Agregar  <i class="fa-solid fa-floppy-disk"></i></a></li>
                  <li><a class="dropdown-item" type="button"data-bs-toggle="modal"data-bs-target="#proyectosModal">Eliminar  <i class="fa-solid fa-trash"></i></a></li>
                </ul>
              </div>
            </div>
            </div>
            <div class="container text-center">
            <div class="row mt-5 g-2 g-lg-3">
               <!--boton edicion referencias-->
            <div class="col">
              <div class="dropend">
                <button class="btn btn-primary btn-lg p-5 dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fa-solid fa-comment fa-3x"></i>
                </button>
                  <ul class="dropdown-menu">
                  <li><a class="dropdown-item" type="button"data-bs-toggle="modal"data-bs-target="#referenciasModal">Modificar <i class="fa-solid fa-pen"></i> </a></li>
                  <li><a class="dropdown-item" type="button"data-bs-toggle="modal"data-bs-target="#referenciasModal">Agregar  <i class="fa-solid fa-floppy-disk"></i></a></li>
                  <li><a class="dropdown-item" type="button"data-bs-toggle="modal"data-bs-target="#referenciasModal">Eliminar  <i class="fa-solid fa-trash"></i></a></li>
                </ul>
              </div>
            </div>
            <!--boton edicion habilidades-->
            <div class="col">
              <div class="dropend">
                <button class="btn btn-primary btn-lg p-5 dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fa-solid fa-dumbbell fa-2x"></i>
                </button>
                  <ul class="dropdown-menu">
                  <li><a class="dropdown-item" type="button"data-bs-toggle="modal"data-bs-target="#habilidadesModal">Modificar <i class="fa-solid fa-pen"></i> </a></li>
                  <li><a class="dropdown-item" type="button"data-bs-toggle="modal"data-bs-target="#habilidadesModal">Agregar  <i class="fa-solid fa-floppy-disk"></i></a></li>
                  <li><a class="dropdown-item" type="button"data-bs-toggle="modal"data-bs-target="#habilidadesModal">Eliminar  <i class="fa-solid fa-trash"></i></a></li>
                </ul>
              </div>
            </div>
            <!--boton edicion otros-->
            <div class="col">
            <div class="dropend">
                <button class="btn btn-primary btn-lg p-5 dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fa-duotone fa-plus fa-2x"></i>
                </button>
                  <ul class="dropdown-menu">
                  <li><a class="dropdown-item" type="button"data-bs-toggle="modal"data-bs-target="#otroModal">Modificar <i class="fa-solid fa-pen"></i> </a></li>
                  <li><a class="dropdown-item" type="button"data-bs-toggle="modal"data-bs-target="#otroModal">Agregar  <i class="fa-solid fa-floppy-disk"></i></a></li>
                  <li><a class="dropdown-item" type="button"data-bs-toggle="modal"data-bs-target="#otroModal">Eliminar  <i class="fa-solid fa-trash"></i></a></li>
                </ul>
              </div>
              </div>
            </div>
            </div>
            </div>
            </div>
            </div>
