<!--Modal referencias-->
<div class="modal fade" id="referenciasModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
    <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModal">Referencias</h5>
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
    <div class="modal-body">
    <div class="mb-3 row">
    <textarea type="text" class="form-control-form-control-mb" id="descripcion"></textarea>
    </div>
    
    </div>
    <div class="modal-footer">
    <button type="button" class="btn btn-primary">Guardar</button>
    </div>
  </div>
  </div>
  </div>
