<section id="habilidades"class="habilidades">
    <div class="row">
        <h1> Hard & Soft Skills</h1>
    <div class="text-center mb-5 col-sm-4 col-md-4 col-lg-4"*ngFor="let hys of hys" >
        
        <circle-progress 
            [percent]="(hys.porcentaje)"
            [radius]="100"
            imageSrc={{hys.habilidad}}
            [showImage]="true"
            [imageHeight]="80"
            [imageWidth]="80"
            [showSubtitle]="false"
            [showUnits]="false"
            [outerStrokeWidth]="8"
            [innerStrokeWidth]="2"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="500"
        ></circle-progress>
    </div>
    </div>
    </section>